<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="/stylesheets/extraStyles.css">
      <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>

      <script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js></script>
      <script src="/javascripts/emulator.js"></script>

  </head>
  <body ng-app="PlatformApp" >

    <div id="emulation" ng-controller="EmulatorController" ng-init="init();">
        <form >
            <input type="text" ng-model="targetURL">
            <button ng-click="submitURL()" type="submit">Submit</button>
        </form>
        <canvas id="demoCanvas" width="1024" height="2000"></canvas>
    </div>

  </body>
</html>
